.bsDefault {
  box-shadow: 0 3px 8px 0 #00000015;
}

.scheduleGrids {
  width: 100%;
  height: fit-content;
  padding: 0 1rem 0 0;
  display: flex;
}

.leftScheduleGrid {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}

.topTwo {
  width: 100%;
  justify-content: space-around;
  padding: 1rem 0;
}

.lessonVideosContainer,
.submitHomeWorkContainer {
  width: 20rem;
  height: 12.5rem;
  background-color: #ffffff;
  flex-direction: column;
  border-radius: 6px;
  padding: 1rem;
}

.lessonVideosContainer {
  margin-right: 0.5rem;
}

.submitHomeWorkContainer {
  margin-left: 0.5rem;
}

h2 {
  width: 100%;
  font-size: 1.1rem;
  font-weight: 700;
}

.div1 {
  align-items: flex-start;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  color: #00000088;
  padding: 0.5rem 0 0;
}

.lessonVideosContainer .div1 {
  position: relative;
}

.div1 .textBox p {
  padding: 0.2rem 0;
  display: flex;
  align-items: center;
}

.submitHomeWorkContainer .div1 .textBox p .dot {
  display: block;
  margin: 0 3px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.submitHomeWorkContainer .div1 .textBox p:nth-child(even) .dot {
  background-color: #f1e155;
}

.submitHomeWorkContainer .div1 .textBox p:nth-child(odd) .dot {
  background-color: #60d28d;
}

.bottomOne {
  background-color: #ffffff;
  margin: 0 1rem;
  border-radius: 6px;
}

.LearningPlanHeader {
  padding: 2rem 1rem;
}

.courseSwitch {
  color: #00000077;
  font-weight: 600;
}

.actualPlan {
  padding: 1rem 1rem 0;
  /* width: 50%; */
  flex-direction: column;
  overflow-y: auto;
  height: 25rem;
}

.plan:last-child {
  border: none;
}

.plan {
  border-bottom: 1px solid #00000022;
  padding: 0.6rem 0;
  margin: 1rem 0;
}

.std {
  padding: 0 3rem 0 0;
}

.std .stdName {
  font-weight: 500;
}

.std .topic {
  font-size: 0.7rem;
  color: #00000077;
  font-weight: 600;
}

.progress {
  width: 20rem;
}

.progressText {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000bb;
}

/* OOOOOOOOOOO      Range Slider styles      OOOOOOOOOOO */

html input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  background-color: var(--veryDarkBlue);
  border: 3px solid var(--veryDarkBlue);
}

html input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #444;
  transition: box-shadow 0.2s ease-in-out;
  background-color: #00000015;
  border-radius: 3px;
  overflow: hidden;
}

html input[type="range"]::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  cursor: pointer;
  background: #ff4d97;
  box-shadow: -2rem 0 0 1.5rem #ff4d97, -25rem 0 1rem 24rem #ff4d97,
    inset 0 0 0 1px #ff4d97;

  border-radius: 3px;
  transition: box-shadow 0.2s ease-in-out;
  position: relative;
}

html input[type="range"]:active::-webkit-slider-thumb {
  background: #ff4d97;
  box-shadow: -2rem 0 0 1.5rem #ff4d97, -25rem 0 1rem 24rem #ff4d97,
    inset 0 0 0 1px #ff4d97;
}

html input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
html input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
html input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
html input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

/* XXXXXXXXXXX      Range Slider      XXXXXXXXXXX */

.homeworkText {
  width: 10rem;
  flex-direction: column;
  justify-content: start;
  padding: 0 0 0 2rem;
}

p.homework {
  width: 100%;
}

.passedOrNot {
  position: relative;
  background-color: darkorchid;
  width: 100%;
  padding-left: 1.3rem;
}

.check,
.false,
.textPassed,
.textNotPassed {
  position: absolute;
  opacity: 0;
}

span.check,
span.false {
  position: absolute;
  top: 2px;
  left: 0;
}

.passedOrNot.passed .textPassed {
  color: #60d28d;
  opacity: 1;
}

.passedOrNot.notPassed .textNotPassed {
  color: #d26060;
  opacity: 1;
}

.passedOrNot.passed .check {
  opacity: 1;
}

.passedOrNot.notPassed .false {
  opacity: 1;
}

.iconVideo {
  width: 5rem;
  justify-content: flex-end;
}

.rightScheduleGrid {
  width: 35%;
  padding: 1rem 2rem 0 0;
}
